@model List<ProgrammerStudio.Web.Models.Domain.BlogPost>
@{
    ViewData["Title"] = "Home Page";
}

<section class="h-full items-center flex mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-7">

    <!-- Lado Esquerdo (Descrição) -->
    <div class="w-1/2 px-8">
        <h1 class="text-5xl font-bold mb-4">ProgrammerStudio - Dev Blogs and News</h1>
        <p class="text-lg mb-8">Welcome to the place where the latest posts and news come to life. Explore our engaging content and discover fascinating stories. Take the first step on a journey of discovery by clicking "View Posts".</p>
        <a href="#posts" class="bg-blue-500 text-white py-2 px-4 rounded-full font-semibold transition duration-300 hover:bg-blue-700">View Posts</a>
    </div>

    <!-- Lado Direito (Imagem) -->
    <div class="w-1/2">
        <img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701022504/pexels-ketut-subiyanto-4132439_tshvwq.jpg" alt="Imagem de Fundo" class="w-full h-full object-cover px-10 py-10" />
    </div>

</section>
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="container mx-auto mt-10">
            <div class="bg-white max-w-4xl mx-auto rounded overflow-hidden shadow-lg mb-8">
                <img class="w-full h-48 object-cover" src="@item.ImageUrl" alt="Imagem do Post">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">@item.Title</div>
                    <p class="text-gray-700 text-base">@item.Description</p>
                </div>
                <div class="px-6 py-4">
                    @foreach (var tags in item.BlogTags)
                    {
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">@tags.DisplayName</span>
                    }
                    <a class="text-blue-500 hover:underline" asp-area="" asp-controller="Home" asp-action="ShowDetails" asp-route-id="@item.Id">Leia Mais</a>
                </div>
            </div>
        </div>
    }
}
