@model ProgrammerStudio.Web.Models.ViewModels.AddBlogModel
@{
}


<form method="post">
    <div class="flex justify-center space-y-12" style="margin-right:15%;margin-left:15%;margin-top:5%;">
        <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Create a Post - Adminstrator</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">Here, as an administrator, you can create a post that will be displayed for all the users, enjoy it :)</p>

            <div class="mt-5">
                <label class="block text-sm font-medium leading-6 text-gray-900">Heading of the post:</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    </div>
                    <input type="text" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Type here" asp-for="@Model.Heading">
                </div>
            </div>
            <div class="mt-2">
                <label class="block text-sm font-medium leading-6 text-gray-900">Title of the post:</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    </div>
                    <input type="text" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Type here" asp-for="@Model.Title">
                </div>
            </div>
            <div class="mt-2">
                <label class="block text-sm font-medium leading-6 text-gray-900">Content of the post, here contains all the post information:</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    </div>
                    <textarea id="content" asp-for="@Model.Content"></textarea>
                    @* <input type="text" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Type here" asp-for="@Model.Content"> *@
                </div>
            </div>
            <div class="mt-2">
                <label class="block text-sm font-medium leading-6 text-gray-900">Description of the post:</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    </div>
                    <input type="text" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Type here" asp-for="@Model.Description">
                </div>
            </div>
            <div class="mt-2">
                <label for="fileInput" class="block text-sm font-medium text-gray-700">Choose a file for the thumbnail</label>
                <div class="mt-1 flex items-center space-x-4">
                    <span class="inline-block rounded-md shadow-sm">
                        <label for="thumbnailImage" class="cursor-pointer inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-800 transition duration-150 ease-in-out">
                            Browse
                            <input id="thumbnailImage" type="file" class="hidden" />
                        </label>
                    </span>
                    <span id="fileName" class="text-gray-500">No file chosen</span>
                    <img id="imageDisplay" src="" style="display:none; width:400px;" />
                </div>
            </div>
            <div class="mt-2">
                <label class="block text-sm font-medium leading-6 text-gray-900">Image URL:</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    </div>
                    <input type="url" id="image" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Type here" asp-for="@Model.ImageUrl">
                </div>
            </div>
            <div class="mt-2">
                <label class="block text-sm font-medium leading-6 text-gray-900">URL Handle:</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    </div>
                    <input type="text" id="url" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Type here" asp-for="@Model.UrlHandle">
                </div>
            </div>
            <div class="mt-2">
                <label class="block text-sm font-medium leading-6 text-gray-900">Date of publish:</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    </div>
                    <input type="date" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Type here" asp-for="@Model.PublishDate">
                </div>
            </div>
            <div class="mt-2">
                <label class="block text-sm font-medium leading-6 text-gray-900">Author of the post:</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    </div>
                    <input type="text" class="block w-full rounded-md border-0 py-1.5 pl-2 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Type here" asp-for="@Model.Author">
                </div>
            </div>
            <div class="mt-2">
                <label class="block text-sm font-medium leading-6 text-gray-900">Select the tags for this post:</label>
                <select class="w-full mt-2" asp-items="@Model.Tags" asp-for="SelectedTags">

                </select>
            </div>
            <div class="mt-2 flex">
                <input type="checkbox" id="myCheckbox" class="checked:bg-blue-500 checked:border-transparent" asp-for="@Model.Visible" />
                <label for="myCheckbox" class="ml-3">
                    The post would be visible? If will be, check this field.
                </label>
            </div>
            <div class="mt-4">
                <button type="submit" class="rounded-md bg-green-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" asp-area="" asp-controller="AdminBlogs" asp-action="Add">Save</button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        var editorText = new FroalaEditor('#content', {
            imageUploadURL: '/api/imageapi',
            codeMirror: true
        });

        const selectedImage = document.querySelector("#thumbnailImage"); 
        const image = document.querySelector("#image");
        const imageDisplay = document.querySelector("#imageDisplay");

        async function uploadImage(e) {
            console.log(e.target.files[0])

            let data = new FormData();
            data.append('imageFile', e.target.files[0]);

            await fetch('/api/imageapi', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    console.log(result)
                    image.value = result.link;
                    imageDisplay.src = result.link;
                    imageDisplay.style.display = 'block';
                });
        }

        selectedImage.addEventListener('change', uploadImage);


    </script>

}